/* 
@media screen and (max-width: 450px){
}

@media screen and (min-width: 451px) and (max-width: 1024px){
}
@media screen and (min-width: 1025px) {
    
} 
*/

/* /////////////////// NAVBAR BELOW //////////////////*/
@media screen and (min-width: 1025px) {


    .navbar-unscrolled{
        position:fixed;
        width: 100%;
        height: 10vh;
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        color:white;
        z-index: 1000;

    }

    .navbar-scrolled{
        background-color: white;
        position:fixed;
        width: 100%;
        height: 10vh;
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;

    }
   

    .navbar-unscrolled  #hamburger-icon {
        display: none; 
    }
    .navbar-scrolled  #hamburger-icon {
        display: none; 
    }


    .navbar-unscrolled .navbar-name{
    color: white;
    margin-left: 5vw;
    font-family: cursive;
    cursor: pointer;
    }
    .navbar-scrolled .navbar-name{
        color: black;
        margin-left: 5vw;
        font-family: cursive;
        cursor: pointer;
    }

    .navbar-session{
        
        margin-right: 5vw;
        
    }

    .navbar-unscrolled a{
        color:white;
        font-size: 2em;
        margin-left: 2vw;
        cursor: pointer;
        

    }

    .navbar-scrolled a{
        
        color:black;
        font-size: 2em;
        margin-left: 2vw;
        cursor: pointer;
    }

    .navbar-session > .active {
        border-bottom: 1px solid orange;
        color:orange
    }

}

@media screen and (min-width: 451px) and (max-width: 1024px){


    .navbar-unscrolled{
        background-color: white;
        position:fixed;
        width: 100vw;
        height: 10vh;
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;

    }

    .navbar-scrolled{
        background-color: white;
        position:fixed;
        width: 100vw;
        height: 10vh;
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;

    }

   
    .navbar-name{
        color: black;
        margin-left: 5vw;
        font-family: cursive;
        cursor: pointer;
    }

    .navbar-session{
      
        display: none;
        
    }

    .navbar-unscrolled a{
        color:white;
        font-size: 2em;
        margin-left: 2vw;
        cursor: pointer;
        /* border: 2px solid blue; */

    }

    .navbar-scrolled a{
        /* border: 2px solid blue; */
        color:black;
        font-size: 2em;
        margin-left: 2vw;
        cursor: pointer;
        
    }

    .navbar-session > .active {
        border-bottom: 1px solid orange;
        color:orange;
        
    }

    
    .navbar-unscrolled  #hamburger-icon {
        display: block; 
        font-size: 30px;
        margin-right: 5vw;
        outline: none;
        border: none;
    }
    .navbar-scrolled  #hamburger-icon {
        display: block; 
        font-size: 30px;
        margin-right: 5vw;
        outline: none;
        border: none;
    }



    .drop-down-menu-open + .navbar-session{
        position: absolute ;
        background-color: white;
        margin-top: 35vh;
        height: 60vh;
        width: 70vw;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        animation: dropDown 1s;
      }

    @keyframes dropDown {
        from {
          transform: translateX(-90vw)
        }
    }

    .drop-down-menu-closed  + .navbar-session {
        position: absolute ;
        background-color: white;
        margin-top: 35vh;
        height: 60vh;
        width: 70vw;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        animation: goAway .5s forwards;
      }
      
      
      @keyframes goAway {
        to {
          transform: translateX(-90vw)
        }
      }
      

}

@media screen and (max-width: 450px){


    .navbar-unscrolled{
        background-color: white;
        position:fixed;
        width: 100vw;
        height: 10vh;
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;

    }

    .navbar-scrolled{
        background-color: white;
        position:fixed;
        width: 100%;
        height: 10vh;
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;

    }

   
    .navbar-name{
        color: black;
        margin-left: 5vw;
        font-family: cursive;
        cursor: pointer;
        font-size: 20px;
    }

    .navbar-session{
      
        display: none;
        
    }

    .navbar-unscrolled a{
        color:white;
        font-size: 2em;
        margin-left: 2vw;
        cursor: pointer;
        /* border: 2px solid blue; */

    }

    .navbar-scrolled a{
        /* border: 2px solid blue; */
        color:black;
        font-size: 2em;
        margin-left: 2vw;
        cursor: pointer;
        
    }

    .navbar-session > .active {
        border-bottom: 1px solid orange;
        color:orange
    }

    .navbar-unscrolled  #hamburger-icon {
        display: block; 
        font-size: 20px;
        margin-right: 5vw;
        outline: none;
        border: none;
    }
    .navbar-scrolled  #hamburger-icon {
        display: block; 
        font-size: 20px;
        margin-right: 5vw;
        outline: none;
        border: none;
    }

    .drop-down-menu-open + .navbar-session{
        position: absolute ;
        background-color: white;
        margin-top: 35vh;
        height: 60vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        animation: dropDown 1s;
      }

    @keyframes dropDown {
        from {
          transform: translateX(-100vw)
        }
    }

    .drop-down-menu-closed  + .navbar-session {
        position: absolute ;
        background-color: white;
        margin-top: 35vh;
        height: 60vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        animation: goAway .5s forwards;
      }
      
      
      @keyframes goAway {
        to {
          transform: translateX(-100vw)
        }
      }

}
 
/* /////////////////// NAVBAR ABOW //////////////////*/


/* /////////////////// Home.js BELOW //////////////////*/
@media screen and (max-width: 650px){
    .home-section{
    
        background-image: url("./Images/home-page-ipad.png");
        height: 100vh;
        background-size: cover;
    
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center; 
    } 
    
    .intro{
        /* border: 2px solid rgb(242, 70, 22); */
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center; 
        margin-top: 5vh;
    }
    .intro h1{
       color:white;
       font-size: 1.5em;
       letter-spacing: 0.1em;
       text-shadow: 2px 2px black;
       text-align: center;
        
    }
    .intro div {
        width: 10vw;
        border: 2px solid rgb(242, 70, 22);
        
    }
    .intro p {
        color:white;
        text-align: center;
        font-size: 1.5em;
        font-weight: 500;
        letter-spacing: 0.1em;
        text-shadow: 2px 2px black;
        text-align: center;
        
    }
    
    .img-skills{
        /* border: 1px solid white; */
        width: 80vw;
    }
    
    .skills-row{
        /* border: 1px solid white; */
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        margin: 2vh 0vw 2vh 0vw;
    }
    
    .image-div{
     
        width: 13vw;
       
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    .image-div img{
        /* border: 1px solid black; */
        width: 50px;
        height: 40px;
        
       }
    
    .logo-text{
        /* border: 1px solid blue; */
        text-align: center;
        color: #ffffff;
        font-family: Raleway, Helvetica, sans-serif;
        font-weight: 700;
        letter-spacing: 0.1em;
        font-size:0.5em;
        text-transform: uppercase;
    
    }
    
    /* .home-button {
        border:none;
        border-radius: 50px;
        background-color: rgba(242, 70, 22, 0.822);
        width: 12vw;
        height: 5vh;
        color:white;
        font-size: 1em;
        font-weight: 800;
        letter-spacing: 0.1em;
        margin-bottom: 0;
        cursor: pointer;
        
    } */
}

@media screen and (min-width: 651px) and (max-width: 1250px){
    .home-section{
    
        background-image: url("./Images/home-page-ipad.png");
        height: 100vh;
        background-size: cover;
        border: 2px solid blue;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center; 
    } 
    
    .intro{
        /* border: 2px solid rgb(242, 70, 22); */
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center; 
        height: 20vh;
        /* margin-top: 5vh; */
    }
    .intro h1{
       color:white;
       font-size: 3em;
       letter-spacing: 0.1em;
       text-shadow: 2px 2px black;
       margin-bottom: 2vh;
        
    }
    .intro div {
        width: 4vw;
        border: 2px solid rgb(242, 70, 22);
        margin-bottom: 2vh;
        
    }
    .intro p {
        color:white;
        text-align: center;
        font-size: 2em;
        font-weight: 500;
        letter-spacing: 0.1em;
        text-shadow: 2px 2px black;
        
    }
    
    .img-skills{
        /* border: 1px solid white; */
        width: 80vw;
        
    }
    
    .skills-row{
        /* border: 1px solid white; */
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        margin: 2vh 0vw 4vh 0vw;
    }
    
    .image-div{
     
        width: 13vw;
       
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    .image-div:hover{
        transform: scale(1.3)
        
    }
    .image-div img{
        /* border: 1px solid black; */
        width: 120px;
        height: 120px;
        
       }
    
    .logo-text{
        /* border: 1px solid blue; */
        text-align: center;
        color: #ffffff;
        font-family: Raleway, Helvetica, sans-serif;
        font-weight: 700;
        letter-spacing: 0.1em;
        font-size: 20px;
        
        text-transform: uppercase;
    
    }
    
    .home-button {
        border:none;
        border-radius: 50px;
        background-color: rgba(242, 70, 22, 0.822);
        width: 12vw;
        height: 5vh;
        color:white;
        font-size: 1em;
        font-weight: 800;
        letter-spacing: 0.1em;
        margin-bottom: 0;
        cursor: pointer;
        
    }
}
@media screen and (min-width: 1251px) {
    .home-section{
    
        background-image: url("./Images/home-page.jpg");
        height: 100vh;
        background-size: cover;
    
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center; 
    } 
    
    .intro{
        /* border: 2px solid rgb(242, 70, 22); */
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center; 
        margin-top: 5vh;
    }
    .intro h1{
       color:white;
       font-size: 3em;
       letter-spacing: 0.1em;
       text-shadow: 2px 2px black;
        
    }
    .intro div {
        width: 4vw;
        border: 2px solid rgb(242, 70, 22);
        
    }
    .intro p {
        color:white;
        text-align: center;
        font-size: 2em;
        font-weight: 500;
        letter-spacing: 0.1em;
        text-shadow: 2px 2px black;
        
    }
    
    .img-skills{
        /* border: 1px solid white; */
        width: 60vw;
    }
    
    .skills-row{
        /* border: 1px solid white; */
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        margin: 2vh 0vw 2vh 0vw;
    }
    
    .image-div{
     
        width: 13vw;
       
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    .image-div img{
        /* border: 1px solid black; */
        width: 110px;
        height: 100px;
        
    }
    .image-div:hover{
        transform: scale(1.3)
        
    }
    
    .logo-text{
        /* border: 1px solid blue; */
        text-align: center;
        color: #ffffff;
        font-family: Raleway, Helvetica, sans-serif;
        font-weight: 700;
        letter-spacing: 0.1em;
        
        text-transform: uppercase;
    
    }
    
    .home-button {
        border:none;
        border-radius: 50px;
        background-color: rgba(242, 70, 22, 0.822);
        width: 12vw;
        height: 5vh;
        color:white;
        font-size: 1em;
        font-weight: 800;
        letter-spacing: 0.1em;
        margin-bottom: 0;
        cursor: pointer;
        
    }
} 



/* /////////////////// Home.js ABOVE //////////////////*/

/* /////////////////// About.js BELOW //////////////////*/
@media screen and (max-width: 600px){
    .about-session{
        height: 100vh;
        background-color: #f4623a;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    .about-left{
        width: 70vw;
        height: 50vh;
        margin-right: 5vw;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
        text-align: center;
    }
    
    .ABOUT_ME{
        font-size: 2em;
        letter-spacing: 0.1em;
        font-weight: 800;
        color: white;
        border-bottom: 1px solid white;
        padding-bottom: 1vh;
        text-align: center;
        width: 70vw;
    }
    .about-me-p{
        color: white;
        font-weight: 400;
        letter-spacing: 0.1em;
        font-size: 0.5em;
        width: 70vw;
    }
    .portfolio-pic{
        width: 130px;
        height: 120px;
        border-radius: 50%; 
        border: 3px solid white; 
    }
    
    .contact-icons{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        margin-top: 2vh;
    }
    .github-pic{
        width: 40px;
        height: 40px;
    }
    
    .linkedin-pic{
        width: 40px;
        height: 40px;
    }
    .email-pic{
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
    
}

@media screen and (min-width: 601px) and (max-width: 1024px){
    .about-session{
        height: 100vh;
        background-color: #f4623a;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    .about-left{
        width: 50vw;
        height: 50vh;
        margin-right: 5vw;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
    }
    
    .ABOUT_ME{
        font-size: 2em;
        letter-spacing: 0.1em;
        font-weight: 800;
        color: white;
        border-bottom: 1px solid white;
        padding-bottom: 1vh;
    }
    .about-me-p{
        color: white;
        font-weight: 400;
        letter-spacing: 0.1em;
        font-size: 1em;
    }
    .portfolio-pic{
        width: 200px;
        height: 200px;
        border-radius: 50%; 
        border: 3px solid white; 
    }
    
    .contact-icons{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        margin-top: 2vh;
    }
    .github-pic{
        width: 40px;
        height: 40px;
    }
    .github-pic:hover{
        transform: scale(1.1)
    }
    
    .linkedin-pic{
        width: 40px;
        height: 40px;
    }
    .linkedin-pic:hover{
        transform: scale(1.1)
    }
    .email-pic{
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
    
    .email-pic:hover{
        transform: scale(1.1)
    }
   
   
    
    
}
@media screen and (min-width: 1025px) {
    .about-session{
        height: 100vh;
        background-color: #f4623a;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    .about-left{
        width: 50vw;
        height: 50vh;
        margin-right: 5vw;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
    }
    
    .ABOUT_ME{
        font-size: 2em;
        letter-spacing: 0.1em;
        font-weight: 800;
        color: white;
        border-bottom: 1px solid white;
        padding-bottom: 1vh;
    }
    .about-me-p{
        color: white;
        font-weight: 400;
        letter-spacing: 0.1em;
        font-size: 1em;
    }
    .portfolio-pic{
        width: 200px;
        height: 200px;
        border-radius: 50%; 
        border: 3px solid white; 
    }
    
    .contact-icons{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        margin-top: 2vh;
    }
    

    .github-pic{
        width: 40px;
        height: 40px;
    }
    .github-pic:hover{
        transform: scale(1.1)
    }
    
    .linkedin-pic{
        width: 40px;
        height: 40px;
    }
    .linkedin-pic:hover{
        transform: scale(1.1)
    }
    .email-pic{
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
    .email-pic:hover{
        transform: scale(1.1)
    }
    
    
} 

/* /////////////////// About.js ABOVE //////////////////*/


/* /////////////////// Project.js ABOVE //////////////////*/
@media screen and (min-width: 1025px) {
    .projects-section{
        height: 100vh;
        background-color: whitesmoke;
        border: 1px solid black; 
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content:flex-start;
        align-items: flex-start;
        align-content: center;
    }
    
    #my-projects{
        
        border-bottom: 3px solid black;
        margin-top:14vh;
        margin-bottom: 5vh;
        color: black;
        padding-bottom: 1vh;
        
    }
    .all-Projects-Card{
        /* border: 1px solid blue; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center; 
        width: 95vw;
    }
    .Projects-Card{
        border: 1px solid gray;
        box-shadow: 5px 10px 8px #888888;
        width: 30vw;
        /* height: 60vh; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        
    }
    
    .exp-parag{
        /* border: 1px solid red; */
        width: 28vw;
        margin-top: 1vh;
        text-align: center;
        font-weight: 400;
        letter-spacing: 0.1em;
        font-size: 1em;
    }
    
    .project-but{
       
        width: 28vw;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        align-content: center; 
        color:white;
        margin-bottom: 1.5vh;
        cursor: pointer;
        
    }
    .project-but a{
        
        width: 8vw;
        text-align: center;
        border-radius: 10px;
        font-size: 1.5em;
        color: #fff;
        background-color: orange;
        /* border-color: orange; */
    }

    .project-but a:hover{
        transform: scale(1.1);
       
    }
    #Carousel img {
            /* border: 1px solid blue; */
            width: 40vw;
            height: 40vh; 
    }
}

@media screen and (min-width: 451px) and (max-width: 1024px){
    .projects-section{
        /* height: 100vh; */
        background-color: whitesmoke;
        border: 1px solid black; 
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content:flex-start;
        align-items: flex-start;
        align-content: center;
    }
    
    #my-projects{
        
        border-bottom: 3px solid black;
        margin-top:5vh;
        margin-bottom: 5vh;
        color: black;
        padding-bottom: 1vh;
        
    }
    .all-Projects-Card{
        /* border: 1px solid blue; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center; 
        width: 95vw;
        margin-bottom: 5vh;
    }
    .Projects-Card{
        border: 1px solid gray;
        box-shadow: 5px 10px 8px #888888;
        width: 45vw;
        /* height: 50vh; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        margin-bottom: 5vh;
        
    }
    
    .exp-parag{
        /* border: 1px solid red; */
        width: 28vw;
        margin-top: 1vh;
        text-align: center;
        font-weight: 400;
        letter-spacing: 0.1em;
        font-size: 1em;
    }
    
    .project-but{
       
        width: 28vw;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        align-content: center; 
        color:white;
        margin-bottom: 1.5vh;
        cursor: pointer;
        
    }
    .project-but a{
       
        width: 10vw;
        text-align: center;
        border-radius: 10px;
        font-size: 0.8em;
        color: #fff;
        background-color: orange;
        border-color: orange;
    }

    
    #Carousel img {
            /* border: 1px solid blue; */
            width: 30vw;
            /* height: 20vh;  */
    }
}

@media screen and (max-width: 450px) {
    .projects-section{
        /* height: 100vh; */
        background-color: whitesmoke;
        border: 1px solid black; 
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
        align-content: center;
    }
    
    #my-projects{
        
        border-bottom: 3px solid black;
        margin-top:5vh;
        margin-bottom: 5vh;
        color: black;
        padding-bottom: 1vh;
        text-align: center;
        
    }
    .all-Projects-Card{
        /* border: 1px solid blue; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center; 
        width: 95vw;
    }
    .Projects-Card{
        border: 1px solid gray;
        box-shadow: 5px 10px 8px #888888;
        width: 80vw;
        /* height: 60vh; */
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-bottom: 4vh;
        
    }
    
    .exp-parag{
        /* border: 1px solid red; */
        width: 80vw;
        margin-top: 1vh;
        text-align: center;
        font-weight: 400;
        letter-spacing: 0.1em;
        font-size: 0.5em;
        text-align: center;
    }
    
    .project-but{
       
        width: 50vw;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        align-content: center; 
        color:white;
        margin-bottom: 1.5vh;
        cursor: pointer;
        
    }
    .project-but a{
       
        width: 15vw;
        text-align: center;
        border-radius: 10px;
        font-size: 0.5em;
        color: #fff;
        background-color: orange;
        border-color: orange;
        
        
        
            
            
    }
    #Carousel img {
            /* border: 1px solid blue; */
            width: 80vw;
            height: 20vh; 
    }
}

/* /////////////////// Project.js ABOVE //////////////////*/



/* /////////////////// Contact.js BELOW //////////////////*/
@media screen and (max-width: 450px){
    .contact-session{
        background-image: url("./Images/map.jpg");
        height: 100vh;
        background-size: cover;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        
    }
    .form-and-contact{
        background-color: #ffffff4d;
        border-radius: 20px;
        border: 1px solid white;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center; 
        width: 80vw;
        height: 60vh;
    }
    
    .contact-session h1 {
        color: white;
        text-shadow: 2px 2px black;
        font-size: 2em;
        text-align: center;
    }
    
    .email-form{
       
        
        height: 50vh;
        width: 60vw;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
    }
    
    .email-form input{
        height: 3vh;
        border-radius: 10px;
        border: 2px solid rgb(57, 57, 59);
        background-color:rgba(211, 209, 209, 0.486);
        color: black;
        font-size: 0.5em;
    
    }
    .email-form textarea{
        height: 10vh;
        width: 98%;
        border-radius: 10px;
        border: 2px solid rgb(57, 57, 59);
        background-color:rgba(211, 209, 209, 0.486);
        color: black;
        font-size: 0.5em;
    }
    
    .email-form label{
        border-bottom: 2px solid white;
        
        text-shadow: 3px 2px black;
        color: #ffffff;
        font-family: Raleway, Helvetica, sans-serif;
        font-size: 1em;
        font-weight: 900;
        letter-spacing: 0.1em;
     
    }
    
    .email-form button {
        border: 2px solid rgb(57, 57, 59);
        border-radius: 10px;
        background-color: rgba(211, 209, 209, 0.486);
        width: 30vw;
        /* height: 5vh; */
        color:white;
        font-size: 0.5em;
        font-weight: 700;
        letter-spacing: 0.1em;
        cursor: pointer;
        outline:none;
        
    }
    
    .contact-infos img{
        width: 30px;
        height: 30px;
        margin-right: 1vw;
        margin-top:1vh;
    }
    
    .contact-home-icon{
        
      
       
        display: none;

    }
    
    .contact-linkedin-icon{
        
        
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center; 
        cursor: pointer;
    }
  

    
    #linkedin-text{
        display: none;
    }
    .contact-email-icon{
        
        
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center; 
        cursor: pointer;
    }
   
    
    #email-text{
        display: none;
    }
    .contact-github-icon{
        
       
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center; 
        cursor: pointer;
    }
  
    #github-text{
        display: none;
    }
    
    .contact-phone-icon{
        display: none;
    }

    .contact-infos{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center; 
    }
}

@media screen and (min-width: 451px) and (max-width: 1024px){
    .contact-session{
        background-image: url("./Images/map.jpg");
        height: 100vh;
        background-size: cover;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        
    }
    .form-and-contact{
        background-color: #ffffff4d;
        border-radius: 20px;
        border: 1px solid white;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center; 
        width: 70vw;
        height: 60vh;
    }
    
    .contact-session h1 {
        color: white;
        text-shadow: 2px 2px black;
        font-size: 3em;
    }
    
    .email-form{
       
        
        height: 50vh;
        width: 50vw;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
    }
    
    .email-form input{
        height: 3vh;
        border-radius: 10px;
        border: 2px solid rgb(57, 57, 59);
        background-color:rgba(211, 209, 209, 0.486);
        color: black;
        font-size: 1em;
    
    }
    .email-form textarea{
        height: 10vh;
        width: 98%;
        border-radius: 10px;
        border: 2px solid rgb(57, 57, 59);
        background-color:rgba(211, 209, 209, 0.486);
        color: black;
        font-size: 1.5em;
    }
    
    .email-form label{
        border-bottom: 2px solid white;
        
        text-shadow: 3px 2px black;
        color: #ffffff;
        font-family: Raleway, Helvetica, sans-serif;
        font-size: 1.5em;
        font-weight: 900;
        letter-spacing: 0.1em;
     
    }
    
    .email-form button {
        border: 2px solid rgb(57, 57, 59);
        border-radius: 10px;
        background-color: rgba(211, 209, 209, 0.486);
        /* width: 15vw; */
        /* height: 8vh; */
        color:white;
        font-size: 1em;
        font-weight: 800;
        letter-spacing: 0.1em;
        cursor: pointer;
        outline: none;
        
    }
    .email-form button:hover{
        transform :scale(1.1)
    }

    
    .contact-infos img{
        width: 50px;
        height: 50px;
        margin-right: 1vw;
        margin-top:1vh;
    }
   
    .contact-home-icon{
        
      
       
        display: none;

    }
    
    .contact-linkedin-icon{
        
        
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center; 
        cursor: pointer;
    }
  

    
    #linkedin-text{
        display: none;
    }
    .contact-email-icon{
        
        
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center; 
        cursor: pointer;
    }
   
    
    #email-text{
        display: none;
    }
    .contact-github-icon{
        
       
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center; 
        cursor: pointer;
    }
  
    #github-text{
        display: none;
    }
    
    .contact-phone-icon{
        display: none;
    }

    .contact-infos{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center; 
    }
}
@media screen and (min-width: 1025px) {
    .contact-session{
        background-image: url("./Images/map.jpg");
        height: 100vh;
        background-size: cover;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        
    }
    .form-and-contact{
        background-color: #ffffff4d;
        border-radius: 20px;
        border: 1px solid white;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center; 
        width: 70vw;
        height: 60vh;
    }
    
    .contact-session h1 {
        color: white;
        text-shadow: 2px 2px black;
        font-size: 3em;
    }
    
    .email-form{
       
        
        height: 50vh;
        width: 30vw;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
    }
    
    .email-form input{
        height: 3vh;
        border-radius: 10px;
        border: 2px solid rgb(57, 57, 59);
        background-color:rgba(211, 209, 209, 0.486);
        color: black;
        font-size: 1em;
        padding-left: 10px;
    
    }
    .email-form textarea{
        height: 10vh;
        width: 98%;
        border-radius: 10px;
        border: 2px solid rgb(57, 57, 59);
        background-color:rgba(211, 209, 209, 0.486);
        color: black;
        font-size: 1.5em;
        padding-left: 10px;
    }
    
    .email-form label{
        border-bottom: 2px solid white;
        
        text-shadow: 3px 2px black;
        color: #ffffff;
        font-family: Raleway, Helvetica, sans-serif;
        font-size: 1.5em;
        font-weight: 900;
        letter-spacing: 0.1em;
     
    }
    
    .email-form button {
        border: 2px solid rgb(57, 57, 59);
        border-radius: 10px;
        background-color: rgba(211, 209, 209, 0.486);
        width: 12vw;
        /* height: 5vh; */
        color:white;
        font-size: 1em;
        font-weight: 800;
        letter-spacing: 0.1em;
        cursor: pointer;
        outline: none;
        
    }

    .email-form button:hover{
        transform :scale(1.1)
    }

    
    .contact-infos img{
        width: 50px;
        height: 50px;
        margin-right: 1vw;
        margin-top:1vh;
       
    }
    .contact-infos img:hover {
        transform: scale(1.1) 
    }
    
    .contact-home-icon{
        
      
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
    }
    
    .contact-linkedin-icon{
        
        
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center; 
    }
    
    .contact-linkedin-icon a{
        color:black;
    }
    .contact-email-icon{
        
        
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center; 
    }
    .contact-email-icon a{
        color:black;
    }
    
    .contact-github-icon{
        
       
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center; 
    }
    .contact-github-icon a{
        color:black;
    }
    
    .contact-phone-icon{
        
      
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center; 
    }
    
} 


/* /////////////////// Contact.js ABOVE //////////////////*/